body {
	font-size: 14px;
	background-color: #EEEEEE

}


h1 {
	font-size: 1.6em;
	color:	#00CED1;
	margin-bottom: 40px;
	text-align: left;
	font-weight: solid
}


.p-margin {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  font-size: 1.3em;
  color: grey;
  font-weight: solid
}


.fig-margin	{
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.7em;
	color:	#00CED1;
}


.header-line {
  padding: 20px;
  border-bottom: 1px 
  solid #d3d3d3;
}

#border-temp	{
	border:	3px solid #00CED1;
	background-color:	#00CED1;
	color: white;
}

#border-comparison	{
	border:	3px solid #00CED1;
	background-color:	#00CED1;
	color: white;
}

.fig-blue-border	{
	border: 1.5px solid #00CED1;
}

#nav-select {
    visibility: hidden;
}

#nav-select {
    visibility: visible;
}

